<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="strConexao" value="Database=tofarm;Data Source=localhost;UserId=root;Password=recon123; pooling=true"/>
    </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="AtendeClienteServiceSoapBinding">
            <security mode="Transport"/>
          </binding>
          <binding name="AtendeClienteServiceSoapBinding1"/>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WSCorreios.AtendeCliente" name="AtendeClientePort"/>
      </client>
    </system.serviceModel>
</configuration>
